{% extends "users/layout.html" %}

{% load static %}

{% block title %}В разработке{%endblock title %}

{% block refs %}
{% for link in links %}
<li class="nav-item ">
    <a href="{% url link.url %}" class="nav-link {{link.name_block}}">
        <i class="{{link.icon_class}}"></i> {{link.title}}
    </a>
</li>
{% endfor %}
{% endblock refs %}

{% block content %}

<section class="text-center container-fluid">
    <main class="py-4">

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="d-flex py-4">
            <div class="col-lg-6 mx-auto">
                <img class="car_logo" src="{% static "img/car_logo.png" %}" alt="">
                <h1 class="fw-light my-4">Вкладка экзамены</h1>
                <p class="lead text-body-secondary">
                    Нажмите кнопку экзамен сдан!.
                </p>

                <form class="needs-validation" method="post">
                    {% csrf_token %}
                    <button type="submit" name="insightpassexam" value=")" class="w-100 btn btn-primary btn-lg">
                        Сдать внутренний экзамен.
                    </button>
                </form>
                <br>
                <form class="needs-validation" method="post">
                    {% csrf_token %}
                    <button type="submit" name="outsidepassexam" value=")" class="w-100 btn btn-primary btn-lg">
                        Сдать внешний экзамен.
                    </button>
                </form>

            </div>
    </main>
    </div>
</section>
{% endblock content %}