{% extends "users/layout.html" %}

{% load static %}

{% block title %}Студенты{%endblock title %}

{% block refs %}
{% for link in links %}
<li class="nav-item ">
    <a href="{% url link.url %}" class="nav-link {{link.name_block}}">
        <i class="{{link.icon_class}}"></i> {{link.title}}
    </a>
</li>
{% endfor %}
{% endblock refs %}

{% block content %}
<div class="container-fluid">
    <main class="py-4">

        {% if messages %}
        {% for message in messages %}
        <br class="py-1">
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="container col-md-10">
            <h1 class="text-center">Студенты</h1>
            <hr class="py-1">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Поиск по ФИО" class="form-control">

            <br>
            <main class="try">
                <table class="table align-middle" id="myTable">
                    <thead>
                        <tr class="">
                            <th scope="col">#</th>
                            <th scope="col">ID_user</th>
                            <th scope="col">ФИО</th>
                            <th scope="col">Телефон</th>
                            <th scope="col">Группа</th>
                            <th scope="col">Категория</th>
                            <th scope="col">План обучения</th>
                            <th scope="col">Машина</th>
                            <th scope="col">Инструктор</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{student.0}}</td>
                            <td>{{student.1}}</td>
                            <td>{{student.2}}</td>
                            <td>{{student.3}}</td>
                            <td>{{student.4}}</td>
                            <td>{{student.5}}</td>
                            <td>{{student.6}}</td>
                            <td>{{student.7}}</td>
                            <td class="text-end"><button class="btn-primary btn" data-bs-toggle="modal"
                                    data-bs-target="#lect{{student.0}}"><i class="fas fa-edit fa-fw"
                                        style="width: 15px;"></i></button>
                                <div class="modal fade" id="lect{{student.0}}" tabindex="-1"
                                    aria-labelledby="{{lecture.0}}" class="" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addlectureLabel">Добавить лектора
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Закрыть"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="needs-validation" method="post">
                                                    {% csrf_token %}
                                                    <h5 class="text-center">Личные данные</h5>
                                                    <hr class="my-2">
                                                    <div class="">
                                                        <div class="row">
                                                            <div class="col-md-12"> <label for="stud_id"
                                                                    class="form-label">Личный
                                                                    идентификатор</label>
                                                                <input type="text" name="stud_id" class="form-control"
                                                                    value="{{student.0}}" readonly>
                                                            </div>

                                                        </div>

                                                        <hr class="my-3">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <label for="surname" class="form-label">Фамилия</label>
                                                                <input name="surname" type="text" class="form-control"
                                                                    id="surname" placeholder="Введите фамилию"
                                                                    value="{{student.8}}" required>
                                                                <div class="invalid-feedback">
                                                                    Введите действительную фамилию.
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <label for="firstname" class="form-label">Имя</label>
                                                                <input name="firstname" type="text" class="form-control"
                                                                    id="firstname" placeholder="Введите имя"
                                                                    value="{{student.9}}" required>
                                                                <div class="invalid-feedback">
                                                                    Введите действительное имя.
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-4">
                                                                <label for="secondname"
                                                                    class="form-label">Отчество</label>
                                                                <input type="text" name="secondname"
                                                                    class="form-control" id="secondname"
                                                                    placeholder="Введите отчество"
                                                                    value="{{student.10}}" required>
                                                                <div class="invalid-feedback">
                                                                    Введите действительное отчество.
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <hr class="my-3">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label for="adress" class="form-label">Адрес</label>
                                                                <input type="text" name="adress" class="form-control"
                                                                    id="adress" placeholder="ул. *********"
                                                                    value="{{student.11}}" required>
                                                                <div class="invalid-feedback">
                                                                    Введите действительный адрес.
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="phone" class="form-label">Телефон</label>
                                                                <input type="text" name="phone" class="form-control"
                                                                    id="phone" placeholder="+799********"
                                                                    value="{{student.12}}" required>
                                                                <div class="invalid-feedback">
                                                                    Введите действительный телефон.
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <br class="my-2">

                                                        <div class="row">
                                                            <div class="col-md-12"> <label for="inputDate">Дата
                                                                    рождения</label>
                                                                <input type="date" name="date" class="form-control"
                                                                    value="{{student.13}}">
                                                            </div>

                                                        </div>

                                                        <br class="my-2">


                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label for="passport" class="form-label">Серия и номер
                                                                    паспорта.</label>
                                                                <input type="text" name="passport" class="form-control"
                                                                    id="passport" placeholder="3316 ******"
                                                                    value="{{student.14}}" required>
                                                                <div class="invalid-feedback">
                                                                    Введите действительную серию и номер паспорта.
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="medicalcertificate" class="form-label">Номер
                                                                    мед.
                                                                    книжки</label>
                                                                <input type="text" name="medicalcertificate"
                                                                    class="form-control" id="medicalcertificate"
                                                                    placeholder="421421424223" value="{{student.15}}"
                                                                    required>
                                                                <div class="invalid-feedback">
                                                                    Введите действительный номер медицинской книжки.
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <br class="my-2">

                                                        <div class="col-12">
                                                            <label for="email" class="form-label">Электронная
                                                                почта</label>
                                                            <input type="email" name="email" class="form-control"
                                                                id="email" placeholder="you@example.com"
                                                                value="{{student.16}}" required>
                                                            <div class="invalid-feedback">
                                                                Введите действительную электронную почту.
                                                            </div>
                                                        </div>

                                                        <br class="my-2">

                                                        <div class="col-12">
                                                            <select class="form-select"
                                                                aria-label="Default select example" name="inst_id"
                                                                id="inst_id">
                                                                {% for instructor in instructors %}
                                                                {% if instructor.1 != student.7 %}<option
                                                                    value="{{instructor.0}}">{{instructor.1}}
                                                                </option>

                                                                {% else %}

                                                                <option selected value="{{instructor.0}}">
                                                                    {{instructor.1}}</option>

                                                                {% endif %}

                                                                {% endfor %}
                                                            </select>
                                                        </div>

                                                        <br>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Закрыть</button>
                                                            <button type="submit" class="btn btn-primary">Сохранить
                                                                изменения</button>
                                                        </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        {% endfor %}

                    </tbody>
                    <caption>Количество пользователей: {{count}}.</caption>
                </table>
            </main>
        </div>
        {% comment %} <div class="container d-flex justify-content-end py-2 col-md-10">
            <button type="button" class="btn btn-primary text-end" data-bs-toggle="modal" data-bs-target="#addlecture">
                Добавить лектора
            </button>

            <!-- modal -->
            <div class="modal fade" id="addlecture" tabindex="-1" aria-labelledby="exampleModalLabel" class=""
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addlectureLabel">Добавить лектора</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <form class="needs-validation" method="post">
                                {% csrf_token %}
                                <h5 class="text-center">Личные данные</h5>
                                <hr class="my-2">
                                <div class="">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="login" class="form-label">Логин</label>
                                            <input type="text" name="login" class="form-control" id="login"
                                                placeholder="Логин" value="{{user_data.adress}}" required>
                                            <div class="invalid-feedback">
                                                Введите действительный логин.
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="password" class="form-label">Пароль</label>
                                            <input type="password" name="password" class="form-control" id="password"
                                                placeholder="Пароль" value="{{user_data.telephone}}" required>
                                            <div class="invalid-feedback">
                                                Введите действительный пароль.
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="my-3">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="surname" class="form-label">Фамилия</label>
                                            <input name="surname" type="text" class="form-control" id="surname"
                                                placeholder="Введите фамилию" value="{{user_data.surname}}" required>
                                            <div class="invalid-feedback">
                                                Введите действительную фамилию.
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="firstname" class="form-label">Имя</label>
                                            <input name="firstname" type="text" class="form-control" id="firstname"
                                                placeholder="Введите имя" value="{{user_data.name}}" required>
                                            <div class="invalid-feedback">
                                                Введите действительное имя.
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <label for="secondname" class="form-label">Отчество</label>
                                            <input type="text" name="secondname" class="form-control" id="secondname"
                                                placeholder="Введите отчество" value="{{user_data.secondname}}"
                                                required>
                                            <div class="invalid-feedback">
                                                Введите действительное отчество.
                                            </div>
                                        </div>

                                    </div>

                                    <hr class="my-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="adress" class="form-label">Адрес</label>
                                            <input type="text" name="adress" class="form-control" id="adress"
                                                placeholder="ул. *********" value="{{user_data.adress}}" required>
                                            <div class="invalid-feedback">
                                                Введите действительный адрес.
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="phone" class="form-label">Телефон</label>
                                            <input type="text" name="phone" class="form-control" id="phone"
                                                placeholder="+799********" value="{{user_data.telephone}}" required>
                                            <div class="invalid-feedback">
                                                Введите действительный телефон.
                                            </div>
                                        </div>
                                    </div>

                                    <br class="my-2">

                                    <div class="row">
                                        <div class="col-md-12"> <label for="inputDate">Дата рождения</label>
                                            <input type="date" name="date" class="form-control"
                                                value="{{user_data.dateofbirth}}">
                                        </div>

                                    </div>

                                    <br class="my-2">


                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="passport" class="form-label">Серия и номер паспорта.</label>
                                            <input type="text" name="passport" class="form-control" id="passport"
                                                placeholder="3316 ******" value="{{user_data.passport}}" required>
                                            <div class="invalid-feedback">
                                                Введите действительную серию и номер паспорта.
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="medicalcertificate" class="form-label">Номер мед.
                                                книжки</label>
                                            <input type="text" name="medicalcertificate" class="form-control"
                                                id="medicalcertificate" placeholder="421421424223"
                                                value="{{user_data.seriamedicalcertificate}}" required>
                                            <div class="invalid-feedback">
                                                Введите действительный номер медицинской книжки.
                                            </div>
                                        </div>
                                    </div>

                                    <br class="my-2">

                                    <div class="col-12">
                                        <label for="email" class="form-label">Электронная почта</label>
                                        <input type="email" name="email" class="form-control" id="email"
                                            placeholder="you@example.com" value="{{user_data.email}}" required>
                                        <div class="invalid-feedback">
                                            Введите действительную электронную почту.
                                        </div>
                                    </div>
                                    <br>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Закрыть</button>
                                        <button type="submit" class="btn btn-primary">Сохранить
                                            изменения</button>
                                    </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </main>
</div>

<script src="{% static "js/searchfio.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

{% endblock content %}